/* endromeda garbagecss code */
/* font */
@font-face {
	font-family: 'azukiB';
	src: url('./assets/azukifontB.ttf') format('truetype')
}
/* background color */
body {
	background-color: #FFE6D8
}
/* text properties */
.page_description, .paragraph_name {
	font-size: 20px
}
.description, .date, .cr {
	line-height: 18px
}
.read_more, .caption, .cr {
	font-size: 15px
}
.edit, .backtotop {
	font-size: 19px
}
.contact_list {
	line-height: 28px;
	font-size: 16px
}
.title {
	font-size: 21px;
	line-height: 21px;
	height: 22px
}
.page_name {
	font-size: 28px
}
.pfp {
	font-size: 14px;
	display: block;
}
img.pfp {
	border-radius: 5px;
	box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
.description {
	font-size: 18px
}
.contact-favicon {
	margin-right: 6px
}
.date {
	font-size: 14px
}
.blip {
	font-size: 15px
}
.page_links {
	line-height: 16px;
	font-size: 16px
}
.caption {
	line-height: 14px
}
.cr {
	text-align: center
}
/* tag properties */
h1 {
	font-size: 35px
}
h2 {
	font-size: 20px
}
time {
	font-family: 'azukiB';
	font-weight: 700
}
p, a, h1, h2, h3, h5 {
	font-family: 'azukiB';
	font-weight: 700
}
ul {
	list-style-type: none;
	line-height: 20px;
	margin-left: -42px
}
a {
	line-height: 5px;
	font-size: 18px;
	text-decoration: none;
	color: #000000
}
/* containers */
.container {
	width: 700px;
	margin: 0 auto;
	padding: 0px 10px;
	height: auto;
	box-shadow: 4px 4px #3C3836;
	line-height: 5px;
	border: 4px solid #250E07;
	background: #fff
}
.not_found {
	width: 700px;
	margin: 0 auto;
	padding: 0px 10px;
	padding-bottom: 120px;
	box-shadow: 4px 4px #3C3836;
	line-height: 5px;
	border: 4px solid #250E07;
	background: #fff
}
.links {
	width: 180px;
	margin: 20px 15px;
	padding: 9px 10px;
	box-shadow: 4px 4px #3C3836;
	line-height: 5px;
	float: right;
	border: 4px solid #250E07;
	background: #fff
}
.header {
	height: 88px;
	width: 720px;
	background-image: url('/assets/header.png');
	background-size: cover;
	margin: 12px auto;
	box-shadow: 4px 4px #3C3836;
	border: 4px solid #250E07
}
.copyright {
	width: 180px;
	margin: 145px -223px;
	padding: 0px 10px;
	box-shadow: 4px 4px #3C3836;
	line-height: 5px;
	float: right;
	border: 4px solid #250E07;
	background: #fff
}
.article-card {
	width: 464px;
	height: 97px;
	border-radius: 3px;
	box-shadow: 4px 4px #3C3836
}
.card-overlay {
	background: rgba(0,0,0,0.5);
	border-radius: 3px;
	height: 97px
}
.qt-card--header{
	padding:16px;
	font-size:24px;
	color: #FFFFFF;
	border-top-left-radius:6px;
	border-top-right-radius:6px
}
.qt-card--description{
	padding:16px;
	color: #FFFFFF
}
div.links {
	line-height: 22px
}
